/* info button
----------------------------- */
#menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fa-door-open {
  font-size: 1.5em;
}

/* panel 
------------------------------ */


.dialog {
  opacity: 0.9;
  
}

/* sign in & sign up iframe 
----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i&display=swap");

#msg {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
.signIn {
  width: 100%;
  min-height: 230px;
  padding: 45px 0 0;
}
.signUp {
  width: 100%;
  min-height: 230px;
  padding: 20px 0 0;
}

.userName, .password, .email {
  display: flex;
  text-align: center;
  margin: 5px auto;
  border: none;
  padding: 10px 0 5px;
  width: 80%;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.userName::placeholder, .password::placeholder, .email::placeholder {
  color: rgba(18, 56, 6, 0.6);
}
.userName:focus::placeholder, .password:focus::placeholder, .email:focus::placeholder {
  color: transparent;
}

#submit {
  display: flex;
  margin: 25px auto;
  background: none;
  border-radius: 20px;
  padding: 8px;
  width: 80%;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
}

/* log out 
------------------------------ */
.logout-container {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logout {
  display: flex;
  width: 100%;
  margin: 40px auto;
} 

