/* info button
----------------------------- */
#menu {
  height: 11vw;
  max-height: 40px;
  box-shadow: none;
  color: #fcfdcb;
  width: 11vw;
  max-width: 40px;
  margin: 3px;
}

.fa-door-open, .info-user{
  font-size: 1.9em;
}

/* panel 
------------------------------ */
.dialog {
  opacity: 0.9;
}

/* sign in & sign up iframe 
----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Hind:500,600|Noto+Sans+TC:400,500,700|Playfair+Display:400,700i&display=swap);

#msg {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  /* font-style: italic; */
  letter-spacing: -0.02em;
}

.signIn {
  width: 100%;
  min-height: 230px;
  padding: 45px 0 0;
}

.signUp {
  width: 100%;
  min-height: 230px;
  padding: 20px 0 0;
}

.userName,
.password,
.email {
  display: flex;
  text-align: center;
  margin: 5px auto;
  border: none;
  padding: 10px 0 5px;
  width: 80%;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.userName::placeholder,
.password::placeholder,
.email::placeholder {
  color: rgba(18, 56, 6, 0.6);
}

.userName:focus::placeholder,
.password:focus::placeholder,
.email:focus::placeholder {
  color: transparent;
}

#submit {
  display: flex;
  margin: 25px auto;
  background: none;
  border-radius: 20px;
  padding: 8px;
  width: 80%;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
}

/* log out 
------------------------------ */
.logout-container {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logout {
  display: flex;
  width: 100%;
  margin: 40px auto;
}