#userStatus{
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;

  width: 50vw;
  max-width: 220px;
  height: 100px;
}

.tooltip {
  font-size: 1.3em;
}

#progress-container {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  width: 100%;
}
.fa-check {
  font-size: 1.4em;
}