#locationList {
    position: absolute;
    z-index: 1000;
    list-style: none;
    top: 0;
    left: 0;

    transition: all .5s ease-in-out;
}

.displayList {
    display: block;
}
.hide {
    display: none;
}

#progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 100vw;
  min-height: 36vh;
}

#list {
  width: 100vw;
  position: relative;
  overflow: auto;
  max-height: 36vh;
  padding-bottom: 0;
}
#locationList > li {
  float:left;
  margin: 2px;
}

.MuiListItem-gutters {
  margin: 0;
}

#list-item {
  padding-bottom: 0;
  padding-top: 15px;
}
#avater {
  padding-bottom: 12px;
}
#content {
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 18px;
}
#fav-btn {
  border: none;
  background: none;
}
.fa-heart {
  font-size: 1.6em;
  color: rgba(129, 146, 132, 0.4);
}
.red {
  color: rgb(249, 101, 101);
}


#placeName, #placePhone, #placeAddress {
  margin: 0;
  line-height: 1.2em;
  font-size: 0.75em;
  display: block;
}
#placeName {
  margin-bottom: 5px;
  font-size: 0.85em;
  display: block;
}
#placePhone {
  opacity: 0.75;
  font-weight: 100;
}

@media screen and (min-width: 500px) {
  #placePhone, #placeAddress {
    font-size: 0.85em;
    line-height: 1.2em;
  }
  #placeName {
    font-size: 1em;
  }
}

@media screen and (min-width: 590px) {
  #list, #progress {
    width: 360px;
  }

}

.hide-btn {
  float: left;
  background: #e2e09d;
  font-size: 0.8em;
  padding: 6px 24px;
  border: none;
}

.fa-angle-double-up, .fa-angle-double-down {
  color: #717056;
}

.show-btn {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;

  background: #e2e09d;
  font-size: 0.8em;
  padding: 6px 24px;
  border: none;
}

.hide-list {
  transform: translateY(-105%);
}

.show-list {
  transform: translateY(0%);
}
