#locationList {
    position: absolute;
    z-index: 1000;
    list-style: none;
    top: 0;
    left: 0;
}

.displayList {
    display: block;
}

.hideList {
    display: none;
}


#locationList > li {
    background-color:  white;
    float:left;
    margin: 2px;
}

@media screen and (max-width: 500px) {

  #placeName, #placePhone, #placeAddress {
    margin: 0;
    font-size: 0.7em;
    line-height: 1em;
  }
}
