/* help button
----------------------------- */
#helpIcon:hover {
  content: url('/images/question-mark.png');
}
#helpIcon {
  content: url('/images/Logo2.png');
}
#logo,
#helpIcon {
  position: relative;
  top: 3px;
  max-width: 45px;
  max-height: 45px;
}
#help {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/* Dialog 
  ------------------------------ */
.MuiBox-root {
  height: 394px;
}
.dialog {
  opacity: 0.9;
}
