#helpIcon:hover {
    content: url('/images/help.png');
    border-radius: 50%;
    min-width: 45px;
    width: 45px;
    min-height: 45px;
    cursor: pointer;   
}

/* info button
----------------------------- */
#help {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .fa-door-open {
    font-size: 1.5em;
  }
  
  /* panel 
  ------------------------------ */
  .MuiBox-root {
    height: 394px;
  }
  
  .dialog {
    opacity: 0.9;
  }
  
  /* sign in & sign up iframe 
  ----------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:400,700i&display=swap);
  
  #helplist {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.3em;
  }
  