.page-container {
    min-width: 100vw;
    min-height: 100vh;
}
.errorImage {
    background-image: url("/images/question-mark.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 50vw;
    height: 100vh;
    margin: 0 auto;
}
.gradient {
    color: red;
    min-width: 100vw;
    min-height: 100vh;
    background: #827f2c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ab2121be 70%, #827f2c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ab2121be 70%, #827f2c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
    position: absolute;
    top: 10vh;
    min-width: 100vw;
    text-align: center;
    font-size: 20vw;
    margin: 0;
}