#copyButton {
  height: 11vw;
  /* min-height: 30px; */
  max-height: 40px;
  box-shadow: none;
  width: 11vw;
  /* min-width: 30px; */
  max-width: 40px;
  margin: 3px;
}

.copyContainer {
  display: inline-block;
}
.fa-copy {
  font-size: 1.9em;
}

.Toastify__toast--warning {
  background-color: #d5ded4;
  color: #005f56
}