.chatApp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 0px;
  }
  
  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chatBox {
    min-height: 150px;
    width: 300px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px
  }
  /* .messages{
    position: absolute;
    bottom: 0;
    position:relative;
    padding:15px;
    margin:2em 2 3em;
    color:#fff;
    justify-content: center;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    /* background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;   */
  /* } */ 
  .CloseBtn{
    float:right;
    padding:2px 5px;
    background:#ccc;
  }
  .CloseBtn:hover {
    float:right;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}
  .textInputBox{
    position: fixed;
    bottom:0;
    background:#fff;
    justify-content: center;
  }
  .chat{
    list-style-type: none;
    position: absolute;
    position:relative;
    padding:10px;
    margin:20px;
    color:#fff;
    justify-content: center;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;  
  }