.chatApp {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    left: 0px;
    position: absolute;
    overflow: auto;
    max-height: 50vh;
    max-width: 70vw;
    background-color: #ffffffb9;
    /* min-height: 50vh; */


  }
  
  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chatBox {
    /* min-height: 150vh; */
    width: 300px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    bottom: 10px;
    /* overflow: 'auto'; */
    /* max-height: 50vh;
    max-width: 70vw; */
    /* opacity:0.3 */

  }

  .CloseBtn{
    float:right;
    padding:2px 5px;
    background:#ccc;
  }
  .CloseBtn:hover {
    float:right;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}
  .textInputBox{
    position: fixed;
    bottom:0;
    background:#fff;
    justify-content: center;
  }
  .chat{
    list-style-type: none;
    /* position: absolute; */
    position:relative;
    align-items: center;
    justify-content: flex-start;
    display:flex;
    padding:10px;
    margin:20px;
    color:#fff;
    background:green; /* default background for browsers without gradient support */
    /* css3 */
    /* background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    border-radius:10px;  */
  } 
  .chat-other{
    list-style-type: none;
    position: absolute;
    position:relative;
    padding:10px;
    margin:20px;
    color:#fff;
    justify-content: center;
    background:blue; /* default background for browsers without gradient support */
    /* css3 */
    /* background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    border-radius:10px;  */
  } 
  .msg {
  display: flex ;
  flex:1;
  flex-wrap: wrap;  
  justify-content: flex-end;
  margin-left: 10px;
    
  }
  .orangeAvatar {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
     	margin: 10;
    	color: '#fff';
      background-color:greenyellow;
      
  }