/* .leaflet-container {
  height: 300px;
  width: 100vw;
  
  position: relative; 
}; */
#map{
height: 100vh;
width: 100vw;
position: absolute; 
top:0;
z-index: 0;
}
.leaflet-control-locate{
  bottom:108px;
}
/* Just check if we can hide this tag and do the copyright thing in help */
/* .leaflet-control-attribution{
  display: none;
} */